nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #000000;
    padding: 20px 20px 18px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav h3 {
    margin-right:auto;
    margin-left: 10px;
    color: #130e0e;
    /* font-weight: 500; */
    color: #f54d04;
    text-transform: uppercase;
}

nav li {
    list-style: none;
    margin-left: 20px;
}

nav li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

nav li a:hover {
    background-color: #f54d04;
    color: #fff;
}

nav li:nth-child(5) a {
    background-color: #f54d04;
    color: #fff;
}

nav li:nth-child(5) a:hover {
    background-color: #ff5323;
}

#search-input {
    padding: 10px;
    box-align: center;
    border-radius: 20px;
    border: none;
    
}

#search-input:hover {
    background-color: #ebe7e7;
}

.logout-button {
    text-decoration: none;
    background-color: #f54d04;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #ff5323;
}

