<div class="hero">
    <div class="hero-content">
        <h2>Product: {{ productName }}</h2>
        <h5>Complete Your Purchase</h5>
        <p class="product-description">
            This is a brief description of the product. It highlights the main features and benefits to give the
            customer a clear understanding of what they are buying.
        </p>
        <p class="product-price">Price: ₹{{ productPrice }}</p>
        <p class="product-rating" >Rating: {{ productRating }} / 5</p>
        <div class="quantity-control">
            <button (click)="decrement()">-</button>
            <span>{{quantity}}</span>
            <button (click)="increment()">+</button>
        </div>
        <div class="total-price">
            <p>Total Price:{{totalPrice}}</p>
        </div>
        <a [routerLink]="['/checkout']">
            <button class="cta-btn">Buy Now</button>
        </a>
    </div>
    <div class="hero-image">
        <img [src]="productImage" alt="Product Image">
    </div>
</div>


<footer>
    <p>&copy; 2024 Your Company. All rights reserved.</p>
</footer>