.profile-container {
    position: relative;
}

.profile-circle { 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    background-color: #ff5323;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #540c0c;
}

.login-button {
    background-color: #007bff;
    color: rgb(20, 19, 19);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.login-button:hover {
    background-color: #7528d9;
}